@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body * {
  font-family: 'Roboto', sans-serif;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 0 56px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 0 20px;
  }
}

.header {
  background: #FFFFFF;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  margin: 17px 0 17px 0;
}

@media screen and (max-width: 768px) {
  .header-block {
    margin: 0;
    height: auto;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .header-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .header-block__menu {
    margin-bottom: 25px;
  }
}

.header-block__menu-burger {
  position: relative;
  display: none;
  margin-right: 44px;
  width: 56px;
  height: 7px;
  border-radius: 2px;
  background-color: #EF7F04;
}

.header-block__menu-burger::before {
  position: absolute;
  top: 14px;
  content: '';
  width: 56px;
  height: 7px;
  border-radius: 2px;
  background-color: #EF7F04;
}

.header-block__menu-burger::after {
  position: absolute;
  bottom: 14px;
  content: '';
  width: 56px;
  height: 7px;
  border-radius: 2px;
  background-color: #EF7F04;
}

@media screen and (max-width: 992px) {
  .header-block__menu-burger {
    display: inline-block;
  }
}

.header-block .navigations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .header-block .navigations-list {
    display: none;
  }
}

.header-block .navigations-list__item {
  margin-right: 20px;
}

.header-block .navigations-list__link {
  font-weight: 400;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-block .navigations-list__link:hover {
  color: #EF7F04;
  border-top: 4px solid #EF7F04;
  padding-top: 36px;
}

@media screen and (max-width: 768px) {
  .header-block .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-block .header-buttons__buttons-measuring {
  background-color: transparent;
  background-color: #EF7F04;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 18px;
  margin-right: 14px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-block .header-buttons__buttons-measuring:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header-block .header-buttons__buttons-measuring {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.header-block .header-buttons__buttons-calculation {
  border-color: transparent;
  background: #3B3A63;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  padding: 10px 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-block .header-buttons__buttons-calculation:hover {
  opacity: 0.6;
}

.header-block .header-buttons__icon {
  margin-right: 10px;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  position: relative;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: relative;
  top: 15px;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

@media screen and (min-width: 768px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: none;
  }
}

@media screen and (min-width: 1224px) {
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: none;
  }
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .menu__box {
    display: none;
  }
}

@media screen and (min-width: 1224px) {
  .menu__box {
    display: none;
  }
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.title-sections {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 24px;
  color: #2F2F51;
}

@media screen and (max-width: 992px) {
  .title-sections {
    margin-bottom: 29px;
  }
}

.services {
  background-color: #f2f2f2;
  padding: 68px 0 83px;
}

@media screen and (max-width: 992px) {
  .services {
    padding: 47px 0 0;
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .services-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services-list .card__item {
  width: calc(50% - 5px);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 55px 0 38px 50px;
}

@media screen and (max-width: 992px) {
  .services-list .card__item {
    width: 70%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .services-list .card__item {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .services-list .card__item {
    width: 100%;
    padding: 30px;
  }
}

.services-list .card__item_background-window {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(../images/services/window.PNG);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/services/window.PNG);
}

.services-list .card__item_background-balcony {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(../images/services/balcony.PNG);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/services/balcony.PNG);
}

.services-list .card__item_background-house {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(../images/services/house.PNG);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/services/house.PNG);
}

.services-list .card__item_background-object {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(rgba(255, 255, 255, 0))), url(../images/services/object.PNG);
  background-image: linear-gradient(to right, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%), url(../images/services/object.PNG);
}

.services-list .card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .services-list .card__header {
    display: block;
  }
}

.services-list .card__header-title {
  margin-left: 20px;
  max-width: 220px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2F2F51;
}

@media screen and (max-width: 768px) {
  .services-list .card__header-title {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .services-list .card__header-title {
    font-size: 20px;
  }
}

.services-list .card__descriptions {
  max-width: 270px;
  font-weight: 400;
  line-height: 19px;
  color: #2F2F51;
}

.products {
  background-color: #f2f2f2;
  padding-bottom: 54px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5%;
}

@media screen and (max-width: 576px) {
  .products-list {
    display: block;
    text-align: center;
  }
}

.products-list__item {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.products-list__item a {
  position: relative;
  top: 20px;
  color: #000;
}

.products-list__item:hover {
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#fc6076), color-stop(#ff9a44), color-stop(#ef9d43), to(#e75516));
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  -webkit-box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
          box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.products-list__item:hover a {
  color: #fff;
}

.products-list__item:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  .products-list__item {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.products-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .products-card {
    display: block;
  }
}

.products-card .left {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .products-card .left {
    width: 100%;
  }
}

.products-card .left__images {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.products-card .right {
  padding: 70px 32px 50px;
  background-color: #FFFFFF;
  width: 50%;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .products-card .right {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .products-card .right {
    padding: 20px;
  }
}

.products-card .right__title {
  font-weight: 700;
  font-size: 36px;
  color: #EF7F04;
  margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
  .products-card .right__title {
    font-size: 24px;
  }
}

.products-card .right__descriptions {
  max-width: 280px;
  font-weight: 400;
  line-height: 19px;
  color: #2F2F51;
  margin-bottom: 40px;
}

.products-card .right__specifications-item {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 40px;
}

@media screen and (max-width: 576px) {
  .products-card .right__specifications-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
  }
}

.products-card .right__specifications-item .border-dotted {
  border-bottom: 2px dotted #f2f2f2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.windows-house {
  background-image: url(../images/main/main-fon.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 65px;
}

.windows-house .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 69px;
}

.windows-house .main-info .left {
  padding: 60px 48px 0 85px;
  width: 54%;
}

@media screen and (max-width: 992px) {
  .windows-house .main-info .left {
    width: 70%;
    padding: 60px 30px 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .windows-house .main-info .left {
    width: 100%;
    padding: 20px;
  }
}

.windows-house .main-info .left__title {
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  .windows-house .main-info .left__title {
    font-size: 24px;
  }
}

.windows-house .main-info .left__title-color {
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  color: #EF7F04;
  display: block;
}

@media screen and (max-width: 576px) {
  .windows-house .main-info .left__title-color {
    font-size: 18px;
  }
}

.windows-house .main-info .left__advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .windows-house .main-info .left__advantage {
    display: block;
    text-align: center;
  }
}

.windows-house .main-info .left__advantage-icon {
  margin-bottom: 20px;
  height: 86px;
  width: 75px;
}

.windows-house .main-info .left__advantage-description {
  width: 130px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .windows-house .main-info .left__advantage-description {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .windows-house .main-info .left__advantage-description {
    margin: 0 auto 30px;
  }
}

.windows-house .main-info .right {
  width: 45%;
}

@media screen and (max-width: 992px) {
  .windows-house .main-info .right {
    display: none;
  }
}

.windows-house .main-info .right__feedback {
  background-color: #FFFFFF;
  border-radius: 10px;
  max-width: 411px;
  padding: 43px 40px 67px;
  text-align: center;
  position: relative;
}

.windows-house .main-info .right__feedback-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
  color: #2F2F51;
}

.windows-house .main-info .right__feedback .input {
  margin-bottom: 24px;
}

.windows-house .main-info .right__feedback .input__item {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  background-color: #E2E2E2;
  border-radius: 3px;
  padding-left: 16px;
  color: #2F2F51;
}

.windows-house .main-info .right__feedback .input__item::-webkit-input-placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
}

.windows-house .main-info .right__feedback .input__item:-ms-input-placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
}

.windows-house .main-info .right__feedback .input__item::-ms-input-placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
}

.windows-house .main-info .right__feedback .input__item::placeholder {
  color: #424268;
  font-weight: 400;
  font-size: 14px;
}

.windows-house .main-info .right__feedback .input__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windows-house .main-info .right__feedback .input__checkbox-check {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.windows-house .main-info .right__feedback .input__checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: left;
  margin-left: 10px;
  width: 288px;
}

.windows-house .main-info .right__feedback .input__checkbox-label .input__checkbox-link {
  color: #4B67AF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.windows-house .main-info .right__feedback .input__checkbox-label .input__checkbox-link:hover {
  opacity: 0.6;
}

.windows-house .main-info .right__feedback-button {
  padding: 19px 40px;
  background-color: transparent;
  background-color: #EF7F04;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.windows-house .main-info .right__feedback-button:hover {
  opacity: 0.6;
}

.windows-house .main-info .right__feedback-images {
  position: absolute;
  bottom: -8px;
  left: -2px;
}

.quality {
  padding-bottom: 96px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 992px) {
  .quality {
    padding-bottom: 38px;
  }
}

.quality-top {
  background-image: url(../images/quality/quality-fon.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  padding: 36px 0 70px;
  margin-bottom: 56px;
}

@media screen and (max-width: 992px) {
  .quality-top {
    padding: 36px 0 0;
    margin-bottom: 29px;
  }
}

.quality-top__title {
  text-align: center;
  margin-bottom: 56px;
}

@media screen and (max-width: 576px) {
  .quality-top__title-images {
    width: 70%;
  }
}

.quality-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .quality-top__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.quality-top__list .item {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .quality-top__list .item {
    margin-bottom: 70px;
  }
}

.quality-top__list .item__icon {
  height: 96px;
  margin-bottom: 40px;
}

.quality-top__list .item__description {
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  max-width: 222px;
}

.quality__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 18px 36px;
  background-color: transparent;
  background-color: #3B3A63;
  border-radius: 3px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.quality__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .quality__button {
    padding: 10px;
  }
}

.quality__button-icon {
  margin-right: 22px;
}

@media screen and (max-width: 576px) {
  .quality__button-icon {
    margin-right: 10px;
  }
}

.about {
  background-color: #f2f2f2;
  padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
  .about {
    padding-bottom: 0;
  }
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5%;
}

@media screen and (max-width: 576px) {
  .about-list {
    display: block;
    text-align: center;
  }
}

.about-list__item {
  width: 200px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.about-list__item a {
  position: relative;
  top: 20px;
  color: #000;
}

.about-list__item:hover {
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#fc6076), color-stop(#ff9a44), color-stop(#ef9d43), to(#e75516));
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  -webkit-box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
          box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.about-list__item:hover a {
  color: #fff;
}

.about-list__item:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .about-list__item {
    padding: 5px 8px;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .about-list__item {
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .about-card {
    display: block;
  }
}

.about-card .left {
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .about-card .left {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .about-card .left {
    padding: 50px 50px 50px 30px;
  }
}

@media screen and (max-width: 576px) {
  .about-card .left {
    padding: 15px;
  }
}

.about-card .left__logo {
  margin-bottom: 60px;
}

@media screen and (max-width: 576px) {
  .about-card .left__logo {
    width: 160px;
  }
}

.about-card .left__description {
  font-weight: 400;
  line-height: 22px;
  width: 60%;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .about-card .left__description {
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .about-card .left__description {
    width: 100%;
  }
}

.about-card .right {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .about-card .right {
    width: 100%;
  }
}

.about-card .right__images {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}

.about-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
}

@media screen and (max-width: 992px) {
  .about-advantage {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .about-advantage {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
  .about-advantage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-advantage .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 80px;
  width: 32%;
}

@media screen and (max-width: 992px) {
  .about-advantage .item {
    width: 40%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .about-advantage .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 45%;
  }
}

@media screen and (max-width: 576px) {
  .about-advantage .item {
    width: 51%;
  }
}

.about-advantage .item__icon {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .about-advantage .item__icon {
    height: 100px;
    margin-bottom: 30px;
  }
}

.about-advantage .item__block {
  font-weight: 700;
  margin-left: 24px;
  color: #2F2F51;
}

@media screen and (max-width: 768px) {
  .about-advantage .item__block {
    margin-left: 0;
  }
}

.about-advantage .item__block-title {
  margin-bottom: 16px;
}

.about-advantage .item__block-description {
  max-width: 215px;
  line-height: 26px;
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 18px 36px;
  background-color: transparent;
  background-color: #EF7F04;
  border-radius: 3px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .about__button {
    padding: 10px;
    font-size: 14px;
  }
}

.about__button-icon {
  margin-right: 22px;
}

@media screen and (max-width: 576px) {
  .about__button-icon {
    margin-right: 5px;
  }
}

.portfolio {
  background-color: #f2f2f2;
}

@media screen and (max-width: 992px) {
  .portfolio {
    background-color: #FFFFFF;
  }
}

.portfolio .container {
  padding: 48px 0 70px;
  background-color: #FFFFFF;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .portfolio__list {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
}

.portfolio__list .item {
  margin-right: 44px;
}

@media screen and (max-width: 992px) {
  .portfolio__list .item:last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__list .item {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.questions {
  background-color: #f2f2f2;
  padding-bottom: 86px;
}

.questions .container {
  padding: 40px 100px 63px;
  background-color: #EF7F04;
  border-radius: 7px;
}

@media screen and (max-width: 992px) {
  .questions .container {
    padding: 40px 40px 63px;
  }
}

@media screen and (max-width: 576px) {
  .questions .container {
    padding: 20px;
  }
}

.questions__tille {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .questions__tille {
    margin-bottom: 20px;
  }
}

.questions__answers-block {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F2F51;
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 30px 20px;
  background-color: #EEEEF3;
}

.questions__answers-block:hover {
  color: #EF7F04;
}

@media screen and (max-width: 576px) {
  .questions__answers-block {
    padding: 15px 10px;
  }
}

.questions__answers-block[open] {
  line-height: 41px;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .questions__answers-block[open] {
    line-height: 21px;
    padding: 10px;
  }
}

.questions__answers-title {
  display: block;
  cursor: pointer;
}

.questions__answers-arrow {
  display: block;
  position: relative;
}

.questions__answers ::before {
  bottom: 0.5em;
  right: .3em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50%/2em 2em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #16a083;
}

.btn-primary:hover {
  background: #117964;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.contacts-block {
  background-color: #f2f2f2;
  padding-bottom: 40px;
}

.contacts-block .title-sections {
  margin-bottom: 59px;
}

.contacts-block .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-block .contacts-info {
  width: 55%;
  position: relative;
}

@media screen and (max-width: 992px) {
  .contacts-block .contacts-info {
    width: 85%;
  }
}

.contacts-block .contacts-info__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2F2F51;
  margin-bottom: 18px;
}

.contacts-block .contacts-info .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
}

@media screen and (max-width: 768px) {
  .contacts-block .contacts-info .number {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacts-block .contacts-info .number__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.contacts-block .contacts-info .number__item-icon {
  margin-right: 26px;
}

.contacts-block .contacts-info .number__item-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
}

.contacts-block .contacts-info .number__item-phone:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  .contacts-block .contacts-info .number__item-phone {
    font-size: 18px;
  }
}

.contacts-block .contacts-info .list {
  margin-bottom: 58px;
}

.contacts-block .contacts-info .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contacts-block .contacts-info .list__item-icon {
  margin-right: 26px;
}

.contacts-block .contacts-info .list__item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.contacts-block .contacts-info .item {
  max-width: 230px;
}

@media screen and (max-width: 768px) {
  .contacts-block .contacts-info .item {
    max-width: 495px;
  }
}

.contacts-block .contacts-info .item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2F2F51;
  margin-bottom: 30px;
}

.contacts-block .contacts-info .item .item__social {
  margin-right: 10px;
}

.contacts-block .contacts-info .item .item__social:last-child {
  margin-right: 0;
}

.contacts-block .contacts-info__images {
  position: absolute;
  right: -14px;
  bottom: -40px;
}

@media screen and (max-width: 768px) {
  .contacts-block .contacts-info__images {
    display: none;
  }
}

.contacts-block .contacts-form {
  width: 45%;
}

@media screen and (max-width: 992px) {
  .contacts-block .contacts-form {
    display: none;
  }
}

.contacts-block .contacts-form__feedback {
  background-color: #FFFFFF;
  border-radius: 10px;
  max-width: 511px;
  padding: 56px 57px 50px;
  text-align: center;
}

.contacts-block .contacts-form__feedback-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #2F2F51;
}

.contacts-block .contacts-form__feedback .input {
  margin-bottom: 30px;
}

.contacts-block .contacts-form__feedback .input__item {
  display: block;
  width: 100%;
  height: 52px;
  margin-bottom: 22px;
  background-color: #E2E2E2;
  border-radius: 3px;
  padding-left: 17px;
  color: #2F2F51;
}

.contacts-block .contacts-form__feedback .input__item::-webkit-input-placeholder {
  color: #424268;
  font-weight: 400;
  line-height: 19px;
}

.contacts-block .contacts-form__feedback .input__item:-ms-input-placeholder {
  color: #424268;
  font-weight: 400;
  line-height: 19px;
}

.contacts-block .contacts-form__feedback .input__item::-ms-input-placeholder {
  color: #424268;
  font-weight: 400;
  line-height: 19px;
}

.contacts-block .contacts-form__feedback .input__item::placeholder {
  color: #424268;
  font-weight: 400;
  line-height: 19px;
}

.contacts-block .contacts-form__feedback .input .textarea {
  resize: none;
  border: none;
  height: 135px;
}

.contacts-block .contacts-form__feedback .input .textarea::-webkit-input-placeholder {
  padding-top: 16px;
}

.contacts-block .contacts-form__feedback .input .textarea:-ms-input-placeholder {
  padding-top: 16px;
}

.contacts-block .contacts-form__feedback .input .textarea::-ms-input-placeholder {
  padding-top: 16px;
}

.contacts-block .contacts-form__feedback .input .textarea::placeholder {
  padding-top: 16px;
}

.contacts-block .contacts-form__feedback .input__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-block .contacts-form__feedback .input__checkbox-check {
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.contacts-block .contacts-form__feedback .input__checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2F2F51;
  text-align: left;
  margin-left: 10px;
}

.contacts-block .contacts-form__feedback .input__checkbox-label .input__checkbox-link {
  color: #EF7F04;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts-block .contacts-form__feedback .input__checkbox-label .input__checkbox-link:hover {
  opacity: 0.6;
}

.contacts-block .contacts-form__feedback-button {
  padding: 16px 43px;
  background-color: transparent;
  background-color: #2F2F51;
  border-radius: 3px;
  font-weight: 700;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts-block .contacts-form__feedback-button:hover {
  opacity: 0.6;
}

.footer {
  background-color: #2F2F51;
  padding: 50px 0 50px;
}

@media screen and (max-width: 576px) {
  .footer {
    padding: 30px 0 30px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer .container {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer .container .footer__logo {
    margin-bottom: 20px;
  }
}

.footer .container .footer__logo-icon {
  margin-right: 22px;
}

.footer .container .footer__logo-name {
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  .footer .container .footer__logo-name {
    display: block;
    margin-top: 20px;
  }
}

.footer .container .navigations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .footer .container .navigations-list {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .footer .container .navigations-list {
    margin-left: 70px;
  }
}

@media screen and (max-width: 576px) {
  .footer .container .navigations-list {
    margin-left: 0;
  }
}

.footer .container .navigations-list__item {
  margin-right: 35px;
}

@media screen and (max-width: 992px) {
  .footer .container .navigations-list__item {
    margin-right: 0;
  }
  .footer .container .navigations-list__item:first-child {
    margin-bottom: 15px;
  }
}

.footer .container .navigations-list__link {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .container .navigations-list__link:hover {
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */