.windows-house {
  background-image: url(/images/main/main-fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 65px;

  .main-info {
    display: flex;
    padding-top: 69px;

    .left {
      padding: 60px 48px 0 85px;
      width: 54%;

      @media screen and (max-width: 992px) {
        width: 70%;
        padding: 60px 30px 0 20px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 20px;
      }

      &__title {
        font-weight: 100;
        font-size: 36px;
        line-height: 42px;
        color: $white;
        margin-bottom: 20px;

        @media screen and (max-width: 576px) {
          font-size: 24px;
        }

        &-color {
          font-weight: 700;
          font-size: 26px;
          line-height: 28px;
          color: $orange;
          display: block;

          @media screen and (max-width: 576px) {
            font-size: 18px;
          }
        }
      }

      &__advantage {
        display: flex;
        justify-content:space-between;

        @media screen and (max-width: 576px) {
          display: block;
          text-align: center;
        }

        &-icon {
          margin-bottom: 20px;
          height: 86px;
          width: 75px;
        }

        &-description {
          width: 130px;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: $white;
          margin-right: 30px;

          @media screen and (max-width: 768px) {
            margin-bottom: 30px;
          }

          @media screen and (max-width: 576px) {
            margin:0 auto 30px;
          }
        }
      }
    }

    .right {
      width: 45%;

      @media screen and (max-width: 992px) {
        display: none;
      }

      &__feedback {
        background-color: $white;
        border-radius: 10px;
        max-width: 411px;
        padding: 43px 40px 67px;
        text-align: center;
        position: relative;

        &-title {
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 27px;
          color: $text;
        }

        .input {
          margin-bottom: 24px;

          &__item {
            display: block;
            width: 100%;
            height: 40px;
            margin-bottom: 15px;
            background-color: $input;
            border-radius: 3px;
            padding-left: 16px;
            color: $text;

            &::placeholder {
              color: $placeholder;
              font-weight: 400;
              font-size: 14px;
            }
          }

          &__checkbox {
            display: flex;
            align-items: center;

            &-check {
              width: 25px;
              height: 25px;
              border-radius: 3px;
            }

            &-label {
              font-weight: 400;
              font-size: 12px;
              line-height: 14px;
              color: $black;
              text-align: left;
              margin-left: 10px;
              width: 288px;

              .input__checkbox-link {
                color: $link;
                transition: 0.5s;

                &:hover {
                  opacity: 0.6;
                }
              }
            }
          }
        }

        &-button {
          padding: 19px 40px;
          background-color: transparent;
          background-color: $orange;
          border-radius: 3px;
          font-weight: 700;
          font-size: 14px;
          color: $white;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            opacity: 0.6;
          }
        }

        &-images {
          position: absolute;
          bottom: -8px;
          left: -2px;
        }
      }
    }
  }
}