$orange: #EF7F04;
$white: #FFFFFF;
$purple: #3B3A63;
$black: #000000;
$gray: #f2f2f2;
$text: #2F2F51;
$input: #E2E2E2;
$placeholder: #424268;
$black: #000000;
$details: #EEEEF3;
$link: #4B67AF;