.about {
  background-color: $gray;
  padding-bottom: 90px;

  @media screen and (max-width: 992px) {
    padding-bottom: 0;
  }

  &-list {
    display: flex;
    justify-content: center;
    margin: 5%;

    @media screen and (max-width: 576px) {
      display:block;
      text-align: center;
    }

    &__item {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    a {
      position: relative;
      top: 20px;
      color: #000;
    }

    &:hover {
      background-position: 100% 0;
      -moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;

      a {
        color: #fff;
      }

      background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
      box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    }

    &:focus {
      outline: none;
  }

      @media screen and (max-width: 768px) {
        padding: 5px 8px;
        font-size: 16px;
      }

      @media screen and (max-width: 576px) {
        display: inline-block;
        padding: 10px 25px;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }

  &-card {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .left {
      width: 50%;
      background-color: $white;
      border-radius: 3px;
      padding: 50px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      @media screen and (max-width: 992px) {
        padding: 50px 50px 50px 30px;
      }

      @media screen and (max-width: 576px) {
        padding: 15px;
      }

      &__logo {
        margin-bottom: 60px;

        @media screen and (max-width: 576px) {
          width: 160px;
        }
      }

      &__description {
        font-weight: 400;
        line-height: 22px;
        width: 60%;
        margin-left: auto;

        @media screen and (max-width: 992px) {
          width: 80%;
        }

        @media screen and (max-width: 576px) {
          width: 100%;
        }
      }
    }

    .right {
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      &__images {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
      }
    }
  }

  &-advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;

    @media screen and (max-width: 992px) {
      justify-content: space-evenly;
    }

    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 576px) {
      justify-content: center;
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 80px;
      width: 32%;

      @media screen and (max-width: 992px) {
        width: 40%;
        margin-bottom: 50px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: start;
        width: 45%;
      }

      @media screen and (max-width: 576px) {
      width: 51%;
      }

      &__icon {
        width: 100px;

        @media screen and (max-width: 768px) {
          height: 100px;
          margin-bottom: 30px;
        }
      }

      &__block {
        font-weight: 700;
        margin-left: 24px;
        color: $text;

        @media screen and (max-width: 768px) {
          margin-left: 0;
        }

        &-title {
          margin-bottom: 16px;
        }

        &-description {
          max-width: 215px;
          line-height: 26px;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 18px 36px;
    background-color: transparent;
    background-color: $orange;
    border-radius: 3px;
    font-weight: 700;
    color: $white;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 0.6;
    }

    @media screen and (max-width: 576px) {
      padding:10px;
      font-size: 14px;
    }

    &-icon {
      margin-right: 22px;

      @media screen and (max-width: 576px) {
        margin-right: 5px;
      }
    }
  }
}