.portfolio {
  background-color: $gray;

  @media screen and (max-width: 992px) {
    background-color: $white;
  }

  .container {
    padding: 48px 0 70px;
    background-color: $white;
  }

  &__list {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: block;
      margin-bottom: 15px;
      text-align: center;
    }

    .item {
      margin-right: 44px;

      @media screen and (max-width: 992px) {
        &:last-child {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
        margin-right: 0;

      }
    }
  }
}

