.title-sections {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 24px;
  color: $text;

  @media screen and (max-width: 992px) {
    margin-bottom: 29px;
  }
}

.services {
  background-color: $gray;
  padding: 68px 0 83px;

  @media screen and (max-width: 992px) {
    padding: 47px 0 0;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      justify-content: center;
    }

    .card__item {
      width: calc(50% - 5px);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 3px;
      margin-bottom: 10px;
      padding: 55px 0 38px 50px;

      @media screen and (max-width: 992px) {
        width: 70%;
        margin-bottom: 40px;
      }

      @media screen and (max-width: 768px) {
        width: 90%;
        }

      @media screen and (max-width: 576px) {
        width: 100%;
        padding: 30px;
        }
    }

      .card__item_background-window {
        background-image: linear-gradient(to right, $white 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/window.jpg);
      }

      .card__item_background-balcony {
        background-image: linear-gradient(to right, $white 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/balcony.jpg);
      }

      .card__item_background-house {
        background-image: linear-gradient(to right, $white 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/house.jpg);
      }

      .card__item_background-object {
        background-image: linear-gradient(to right, $white 50%, rgba(255, 255, 255, 0) 100%), url(/images/services/object.jpg);
      }

    .card__header {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      @media screen and (max-width: 768px) {
        display: block;
      }

      &-title {
        margin-left: 20px;
        max-width: 220px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $text;

        @media screen and (max-width: 768px) {
          margin-left: 0;
          margin-top: 20px;
        }

        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }
    }

    .card__descriptions {
      max-width: 270px;
      font-weight: 400;
      line-height: 19px;
      color: $text;
    }
  }
}